/* *{
   box-sizing:border-box  
} */

.flex-container{
    list-style :none;
    display:flex;
    margin:0;
    padding:0;
    flex-wrap:wrap;

}

.flex-item {
    background:tomato;
    padding:60px;
    margin:20px;
    text-align:center;
    font-size:70px;
    color:white;
    width:20%;
    height:30%;
    line-height:100px;
    
}
